.bundle
pkg/*
build/*
php/api.inc.php
php/dbinfo.inc.php
config/*
public/*.php
public/images/*
public/img/*
public/andrew/*
public/music/*
node_modules/*
util/*
build.zip
dist.zip
deploy.sh
dist/*
temp/*
attic/*
yarn-log.error
