<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^words$ words.php
RewriteRule ^shows$ shows.php
RewriteRule ^about$ about.php
RewriteRule ^photos$ flickr.php
</IfModule>
